<a href="https://colab.research.google.com/github/Sameera326/23CSBTB39-40/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.datasets import load_iris
# Load the iris dataset
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
# Add target variable to the DataFrame
df['target'] = iris.target
# Identify features and target
features = df.drop('target',axis=1)
target = df['target']
# Normalize the features using MinMaxScaler
scaler = MinMaxScaler()
features_normalized = scaler.fit_transform(features)
features_normalized_df = pd.DataFrame(features_normalized, columns=features.columns)

In [22]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_normalized_df, target, test_size=0.2, random_state=42)

# Display the first few rows of each dataset
print("Training Features:\n", X_train.head())
print("\nTesting Features:\n", X_test.head())
print("\nTraining Target:\n", y_train.head())
print("\nTesting Target:\n", y_test.head())

Training Features:
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
22           0.083333          0.666667           0.000000          0.041667
15           0.388889          1.000000           0.084746          0.125000
65           0.666667          0.458333           0.576271          0.541667
11           0.138889          0.583333           0.101695          0.041667
42           0.027778          0.500000           0.050847          0.041667

Testing Features:
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
73            0.500000          0.333333           0.627119          0.458333
18            0.388889          0.750000           0.118644          0.083333
118           0.944444          0.250000           1.000000          0.916667
78            0.472222          0.375000           0.593220          0.583333
76            0.694444          0.333333           0.644068          0.541667

Training Target:
 22    0
15    0
65    1
11    0
42    0
Name: target, dtype: int64

Testing Target:
 73     1
18     0
118    2
78     1
76     1
Name: target, dtype: int64

In [29]:
import pandas as pd
# Convert categorical variables to dummy variables
df_encoded = pd.get_dummies(df_filled, drop_first=True)
# Normalize the features using Min-Max scaling
scaler = MinMaxScaler()
features_normalized = scaler.fit_transform(df_encoded.drop('Survived', axis=1))
features_normalized_df = pd.DataFrame(features_normalized, columns=df_encoded.drop('Survived', axis=1).columns)

print("\nNormalized Features:\n", features_normalized_df.head())
# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(features_normalized_df, target, test_size=0.2, random_state=42)

print("\nTraining Features:\n", X_train.head())
print("\nTesting Features:\n", X_test.head())
print("\nTraining Target:\n", y_train.head())
print("\nTesting Target:\n", y_test.head())

NameError: name 'df_filled' is not defined

In [25]:
#question 2
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
# Load the Titanic dataset from seaborn's repository
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')
# Describe the dataset
df_description = df.describe(include='all')
print("Dataset Description:\n", df_description)
# Data types of each column
data_types = df.dtypes
print("\nData Types:\n", data_types)

# Shape of the dataset
data_shape = df.shape
print("\nShape of the Dataset:", data_shape)
# Assuming 'Survived' is the target variable
target = df['Survived']
features = df.drop(['Survived', 'Name', 'Ticket', 'Cabin'], axis=1)
print("\nFeatures:\n", features.head())
print("\nTarget:\n", target.head())
# Check for null values
null_values = df.isnull().sum()
print("\nNull Values:\n",null_values)

Dataset Description:
         PassengerId    Survived      Pclass                     Name   Sex  \
count    891.000000  891.000000  891.000000                      891   891
unique          NaN         NaN         NaN                      891     2
top             NaN         NaN         NaN  Braund, Mr. Owen Harris  male
freq            NaN         NaN         NaN                        1   577
mean     446.000000    0.383838    2.308642                      NaN   NaN
std      257.353842    0.486592    0.836071                      NaN   NaN
min        1.000000    0.000000    1.000000                      NaN   NaN
25%      223.500000    0.000000    2.000000                      NaN   NaN
50%      446.000000    0.000000    3.000000                      NaN   NaN
75%      668.500000    1.000000    3.000000                      NaN   NaN
max      891.000000    1.000000    3.000000                      NaN   NaN

               Age       SibSp       Parch  Ticket        Fare    Cabin  \
count   714.000000  891.000000  891.000000     891  891.000000      204
unique         NaN         NaN         NaN     681         NaN      147
top            NaN         NaN         NaN  347082         NaN  B96 B98
freq           NaN         NaN         NaN       7         NaN        4
mean     29.699118    0.523008    0.381594     NaN   32.204208      NaN
std      14.526497    1.102743    0.806057     NaN   49.693429      NaN
min       0.420000    0.000000    0.000000     NaN    0.000000      NaN
25%      20.125000    0.000000    0.000000     NaN    7.910400      NaN
50%      28.000000    0.000000    0.000000     NaN   14.454200      NaN
75%      38.000000    1.000000    0.000000     NaN   31.000000      NaN
max      80.000000    8.000000    6.000000     NaN  512.329200      NaN

       Embarked
count       889
unique        3
top           S
freq        644
mean        NaN
std         NaN
min         NaN
25%         NaN
50%         NaN
75%         NaN
max         NaN

Data Types:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

Shape of the Dataset: (891, 12)

Features:
    PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1       3    male  22.0      1      0   7.2500        S
1            2       1  female  38.0      1      0  71.2833        C
2            3       3  female  26.0      0      0   7.9250        S
3            4       1  female  35.0      1      0  53.1000        S
4            5       3    male  35.0      0      0   8.0500        S

Target:
 0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Null Values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64